body{
    margin: 0;
}

main{
    display: flex;
    flex-direction: row;
}

.container-chat{
    display: flex;
    flex-direction: column;
    width: 25rem;
}

.user-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.13rem;
    border: 2px solid #bec1bb;
}

.user-info{
    display: flex;
    flex-direction: row;
}

.user-online{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

.img-chat{
    border-radius: 50%;
}

.user-name{
    margin: 0;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
}

.user-status{
    margin: 0;
    font-family: 'Open Sans';
    font-size: 10px;
    color: #bec1bb;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.msgs{
    padding: 0.5rem;
}

.bars{
    padding: 0.5rem;
}

.new-chat{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #bec1bb;
}

.btn-new-chat{
    background-color: #A491D2;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    color: white;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
}

.client-info{
    display: flex;
    flex-direction: row;
    padding: 1.13rem;
    border: 2px solid #bec1bb;
}

.client-online{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}

.client-name{
    margin: 0;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: bold;
}

.client-message{
    margin: 0;
    font-family: 'Roboto';
    font-size: 14px;
}

.container-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #e8ebe4;
}

.img-hands{
    margin: 1.5rem;
}

.titulo1{
    font-family: 'Roboto';
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    margin: 0;
}

.parrafo1{
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    /* padding-left: 40rem;
    padding-right: 40rem; */
    margin: 0;
}